* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}
header {
  background-color: #1b2653;
  padding: 10px;
  color: white;
  text-align: flex;
  height: 80px;
  margin-bottom: 100px;
}

.logotop {
  float: left;
  width: 150px;
  height: 60px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  @media screen and (max-width: 1208px) {
    display: none;
  }
}

nav a:hover {
  background-color: #787878;
  color: #1b2653;
}

.icon {
  display: none;
  @media screen and (max-width: 1208px) {
    display: block;
  }
}

.bar {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  align-items: center;
  height: 100%;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #787878;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1000;
}

.mobile-menu a {
  padding: 10px;
  text-decoration: none;
  color: #1b2653;
  display: block;
  font-weight: 700;
}

.mobile-menu a:hover {
  background-color: #ddd;
}

main {
  margin: 10vh 10vh;
}

#content {
  display: flex;
  justify-content: center;
}

.row {
  display: grid;

  margin-bottom: 10px;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10vw;
  row-gap: 10vh;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    grid-template-columns: 1fr 1fr;
  }
}

.card {
  background-color: white;
  width: 490px;
  height: 490px;
  border-radius: 5px;
  border: 1.5px solid #787878;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: 768px) {
    width: 350px;
    height: 350px;
  }

  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    width: 440px;
    height: 440px;
  }
}

.btn-cadastre {
  color: white;
  background: none;
  border-color: white;
  border-radius: 25px;
  border-style: solid;
  font-size: 17px;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
}

.btn {
  background-color: #ff6613;
  color: #fff;
}

.btn-telefone {
  color: #ff6613;
  font-size: 12px;
}

.btn-mensagem {
  border: none;
  font-size: 20px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.btn-calcular {
  border: none;
  font-size: 20px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  max-width: 150px;
  margin-bottom: 15%;
}

.btn-modal {
  border: none;
  font-size: 20px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 15px;
  height: 50px;
}

.btn-download {
  border: none;
  font-size: 20px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  height: 50px;
  margin-top: 15px;
  width: 60%;
}

.download {
  display: flex;
  justify-content: center;
}

.corretor-item {
  text-align: center;
  display: flex;
  align-items: center;
  padding: 10px;
}

.corretor-item h2 {
  margin: 0;
}

.corretor-item img {
  width: 180px;
  height: 180px;
  border-radius: 5px;
  @media screen and (max-width: 768px) {
    width: 140px;
    height: 140px;
  }
}

.corretor-descricao {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 20px;
  color: #1b2653;
  @media screen and (max-width: 768px) {
    font-size: 12px;
  }
}

.corretor-telefone {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.corretor-telefone div {
  margin-left: 10px;
  font-size: 14px;
  color: #1b2653;
  font-weight: 700;
}

.contato-input {
  margin: 20px 0;
}
.contato-item {
  border-radius: 5px;
  margin-bottom: 1rem;
  width: 100%;
  padding: 10px;
}

.contato-item label {
  margin-bottom: 0.5rem;
}

.contato-item input,
.contato-item textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  margin: auto;
}

.contato-item textarea {
  height: 100px;
}

.title {
  color: #1b2653;
  font-size: 35px;
  padding: 10px;

  @media screen and (max-width: 528px) {
    font-size: 18px;
  }
}

.regra-item {
  border-radius: 5px;
  margin-bottom: 1rem;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.regra-item-input {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.regra-item input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.regra-item input:disabled {
  border-color: #ff6613;
}

.divisor {
  width: 50px;
  height: 2px;
  background-color: black;
  margin: 0 10px;
}

.casa-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.zoom-image {
  width: 100%;
  height: 100%;
  transform: scale(1.5);
  transition: transform 10s ease;
}

.zoom-out {
  transform: scale(1);
}

.casa-item {
  position: relative;
  overflow: hidden;
}

.imovel-guide {
  position: absolute;
  bottom: 40px;
  right: 10%;
  left: 10%;
  background-color: rgba(255, 81, 0, 0.85);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imovel-guide p {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  border-radius: 1%;
  border: 1px solid #888;
  width: 80%;
  height: 90%;
  @media screen and (max-width: 768px) {
    height: 70%;
  }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    height: 60%;
  }
}

.modal-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content img {
  width: 65%;
  height: 65%;
  border-radius: 1%;
  @media screen and (max-width: 768px) {
    width: 280px;
    height: 280px;
    object-fit: cover;
  }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    width: 600px;
    height: 400px;
    object-fit: cover;
  }
}

.modal-close {
  height: 45px;
  width: 100%;
  border-bottom: 2px solid gray;
  margin-bottom: 30px;
}

.close {
  color: red;
  float: right;
  font-size: 34px;
  font-weight: bold;
  margin-right: 20px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

footer {
  background-color: #1b2653;
  padding: 10px;
  color: white;
  text-align: flex;
  height: 80px;
}

.footer {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  align-items: center;
  height: 100%;
  width: 100%;

  @media screen and (max-width: 528px) {
    font-size: 14px;
  }
}

.footer a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-left: 30px;
  @media screen and (max-width: 1208px) {
    display: none;
  }
}

.footer a:hover {
  background-color: #787878;
  color: #1b2653;
}

.logobot {
  float: right;
  width: 150px;
  height: 60px;
  margin-right: 30px;
}
